<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>City Info</title>
</head>
<body>

	<h2> City Information </h2>
	
	<table style="width:25%">
		<tr>
		  <td>ID</td>
		  <td th:inline="text">[[${cityInfo.getCity().getID()}]]</td>
		</tr>
		<tr>
		  <td>Name</td>
		  <td th:inline="text">[[${cityInfo.getCity().getName()}]]</td>
		</tr>
		<tr>
		  <td>Country Code</td>
		  <td th:inline="text">[[${cityInfo.getCountry().getCode()}]]</td>
		</tr>
		<tr>
		  <td>District</td>
		  <td th:inline="text">[[${cityInfo.getCity().getDistrict()}]]</td>
		</tr>
		<tr>
		  <td>Population</td>
		  <td th:inline="text">[[${cityInfo.getCity().getPopulation()}]]</td>
		</tr>
		<tr>
		  <td>Local Weather</td>
		  <td th:inline="text">[[${cityInfo.getTemp()}]]</td>
		</tr>
		<tr>
		  <td>Local Time</td>
		  <td th:inline="text">[[${cityInfo.getTime()}]]</td>
		</tr>
	</table>	

</body>
</html>