<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>City Info</title>
</head>
<body>

	<h2> City Information </h2>
	
	<table style="width:25%">
		<tr>
		  <td>ID</td>
		  <td th:inline="text">[[${cityInfo.getCity().getID()}]]</td>
		</tr>
		<tr>
		  <td>Name</td>
		  <td th:inline="text">[[${cityInfo.getCity().getName()}]]</td>
		</tr>
		<tr>
		  <td>Country Code</td>
		  <td th:inline="text">[[${cityInfo.getCountry().getCode()}]]</td>
		</tr>
		<tr>
		  <td>District</td>
		  <td th:inline="text">[[${cityInfo.getCity().getDistrict()}]]</td>
		</tr>
		<tr>
		  <td>Population</td>
		  <td th:inline="text">[[${cityInfo.getCity().getPopulation()}]]</td>
		</tr>
		<tr>
		  <td>Local Weather</td>
		  <td th:inline="text">[[${cityInfo.getTemp()}]]</td>
		</tr>
		<tr>
		  <td>Local Time</td>
		  <td th:inline="text">[[${cityInfo.getTime()}]]</td>
		</tr>
	</table>	
	
	
	<div>
		<h5 th:inline="text">For a weekend away in [[${cityInfo.getCity().getName()}]], sign up here:</h5><br>
		
		<form action="#" th:action="@{/cities/reservation}" method="post">
		
			<input type="hidden" id="city" name="city" th:value="*{cityInfo.getCity().getName()}" />
		
			<label for="email">Email </label>
  			<input type="text" id="email" name="email" required><br>
  			
  			<input type="radio" id="luxury" name="level" value="luxury">
			<label for="luxury">Luxury</label><br>
			<input type="radio" id="moderate" name="level" value="moderate">
			<label for="moderate">Moderate</label><br>
			<input type="radio" id="budget" name="level" value="budget">
			<label for="budget">Budget</label><br>
			
			<input type="submit" value="Submit">
		</form>
		
		
	</div>

</body>
</html>